<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Survey Numeric View</title>

<link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" / >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 5%;">
        <h2 class="m-5">View of Question created</h2>

        <table style="width: 70%">
            <tr class="d-flex">
                <td th:text="${question}" class="col-7"></td>
                <td class="col-2">
                    <input type="number" style="width:60px; text-align: center"></input>
                </td>
            </tr>
        </table>
        <form th:action="@{/question/save}" th:method="post" style="width: 100%;" class="m-3">
            <input type="hidden" th:name="title" th:value="${title}" />
            <input type="hidden" th:name="question" th:value="${question}" />
            <input type="hidden" th:name="type" th:value="${type}" />
            <table>
				<tr class="d-flex">
					<td class="col-7">
						<button class="btn btn-primary" type="Submit">Save</button>
					</td>
					<td class="col-10 align-middle" style="left: 20%;">
						<a th:href="@{/viewQuestions(id=${instructorId}, order)}" class="btn btn-danger" role="">Cancel Question Creation</a>
					</td>
				</tr>
            </table>
        </form>
      </div>  
</body>
</html>