<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Group Formation App</title>
<link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container m-2">
	<h3 th:text="${error}" class="mt-3 mb-3"/>
	<a class="btn btn-primary" href="${url}" th:text="${linkMessage}"></a>
</div>

</body>
</html>